<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1.1", {packages:["bar"]});
      google.load("visualization", "1.1", {packages:["corechart"]});
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(get_data);
</script>

<h1>Connections#index</h1>
<p>Find me in app/views/connections/index.html.erb</p>

<div id="chart" style="width: 50%"></div>
<button id="target">Press me!</button>

<div>
	<select id="years"></select>
</div>
<div id="month_per_year" style="width: 50%"></div>

<div id="time_connections" style="width: 50%"></div>


