<div class="container">	
	<h1>RANKINGS</h1>
	<div id="rankingPais" class="panel panel-primary" ng-controller="CountryRanking">
		<div class="panel-heading">Ranking de países</div>
  		<table class="table table-striped">
    		<tr>
    			<th>#</th>
    			<th>País</th>
    			<th>Oyentes totales</th>
    			<th>Bytes consumidos (en GB)</th>
    			<th>Tiempo total de escucha</th>
    		</tr>
    		<tr id="tableRow" ng-repeat="row in data">
    			<td ng-model="startIndex">{{(startIndex + $index) + 1}}</td>
    			<td>{{row._id}}</td>
    			<td>{{row.listeners}}</td>
    			<td>{{row.bytes / 1000000000}}</td>
    			<td>{{row.time}}</td>
    		</tr>
  		</table>
  		<span id="template" ng-include="'_botonera.html'"></span>
	</div>
	<div id="rankingRegion" class="panel panel-primary" ng-controller="RegionRanking">
		<div class="panel-heading">Ranking de regiones</div>
  		<table class="table table-striped">
    		<tr>
    			<th>#</th>
    			<th>Región</th>
    			<th>Oyentes totales</th>
    			<th>Bytes consumidos (en GB)</th>
    			<th>Tiempo total de escucha</th>
    		</tr>
    		<tr id="tableRow" ng-repeat="row in data">
    			<td ng-model="startIndex">{{(startIndex + $index) + 1}}</td>
    			<td>{{row._id.region}}, {{row._id.country}}</td>
    			<td>{{row.listeners}}</td>
    			<td>{{row.bytes / 1000000000}}</td>
    			<td>{{row.time}}</td>
    		</tr>
  		</table>
  		<span id="template" ng-include="'_botonera.html'"></span>
	</div>
    <div id="rankingCity" class="panel panel-primary" ng-controller="CityRanking">
        <div class="panel-heading">Ranking de ciudades</div>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Ciudad</th>
                <th>Oyentes totales</th>
                <th>Bytes consumidos (en GB)</th>
                <th>Tiempo total de escucha</th>
            </tr>
            <tr id="tableRow" ng-repeat="row in data">
                <td ng-model="startIndex">{{(startIndex + $index) + 1}}</td>
                <td>{{row._id.city}}, {{row._id.region}}, {{row._id.country}}</td>
                <td>{{row.listeners}}</td>
                <td>{{row.bytes / 1000000000}}</td>
                <td>{{row.time}}</td>
            </tr>
        </table>
        <span id="template" ng-include="'_botonera.html'"></span>
    </div>
    <div id="userAgentCity" class="panel panel-primary" ng-controller="UserAgentRanking">
        <div class="panel-heading">Ranking de agentes de usuario</div>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Agente</th>
                <th>Veces usado</th>
                <th>Bytes consumidos (en GB)</th>
                <th>Tiempo total de escucha</th>
            </tr>
            <tr id="tableRow" ng-repeat="row in data">
                <td ng-model="startIndex">{{(startIndex + $index) + 1}}</td>
                <td>{{row._id}}</td>
                <td>{{row.listeners}}</td>
                <td>{{row.bytes / 1000000000}}</td>
                <td>{{row.time}}</td>
            </tr>
        </table>
        <span id="template" ng-include="'_botonera.html'"></span>
    </div>
    <div id="rankingLinks" class="panel panel-primary" ng-controller="LinksRanking">
        <div class="panel-heading" ng-model="count">Top {{count}} de links enlace</div>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Link</th>
                <th>Veces usado</th>
                <th>Bytes consumidos (en GB)</th>
                <th>Tiempo total de escucha</th>
            </tr>
            <tr id="tableRow" ng-repeat="row in data">
                <td ng-model="startIndex">{{(startIndex + $index) + 1}}</td>
                <td>{{row._id}}</td>
                <td>{{row.listeners}}</td>
                <td>{{row.bytes / 1000000000}}</td>
                <td>{{row.time}}</td>
            </tr>
        </table>
    </div>
</div>