<div ng-controller="StatsController">
	<div id="menuContainer">
		<nav id="cssmenu">
  			<ul>
  				<li ng-class="{'active': selectedOption == 'conexiones' }"><a ng-click="clickConexiones()" id="Conexiones">Conexiones</a></li>
				<li ng-class="{'active': selectedOption == 'localizaciones' }"><a ng-click="clickLocalizaciones()" id="Localizacion">Localización</a></li>
				<li ng-class="{'active': selectedOption == 'paginas' }"><a ng-click="clickPaginas()" id="Paginas">Páginas</a></li>
  			</ul>
		</nav>
	</div>
	<div>
		<span ng-model="source" class="label label-primary">Filtrando estadísticas por...{{source}}</span>
	</div>
	<div ng-include='page' id="template"></div>
</div>
