<div ng-controller="StatsController">
	<div id="menuContainer">
		<nav id="cssmenu">
  			<ul>
  				<li ng-class="{'active': selectedOption == 'conexiones' }"><a ng-click="clickConexiones()" id="Conexiones">Conexiones</a></li>
				<li ng-class="{'active': selectedOption == 'localizaciones' }"><a ng-click="clickLocalizaciones()" id="Localizacion">Localización</a></li>
				<li ng-class="{'active': selectedOption == 'paginas' }"><a ng-click="clickPaginas()" id="Paginas">Páginas</a></li>
  			</ul>
		</nav>
	</div>
	<div>
		<span ng-model="source" class="label label-primary">Filtrando estadísticas por...{{source}}</span>
	</div>
	<div id="datePickers" ng-controller="FilterController">
		<div ng-show="invalid">
			<div class="alert alert-danger alert-dismissible">
				Fechas inválidas
			</div>
		</div>
		<span>
			<label>Fecha Inicio: </label>
			<input type="date" id="fechaIni" ng-model = "fechaInicio" ng-change="changedDate()" required/>
		</span>
		<span>
			<label>Fecha Fin: </label>
			<input type="date" id="fechaFin" ng-model = "fechaFin" ng-change="changedDate()" required/>
		</span>
		<label>Visitantes únicos:
    		<input id="uniqueVisitors" type="checkbox" ng-model="unique" ng-change="changedCheckBoxUniqueVisitors()">
  		</label>
  		<label>Franja horaria:
    		<input id="showHourRange" type="checkbox" ng-model="showHourRange" ng-change="changedCheckBoxHourRange()">
  		</label>
  		<br/>
  		<form name = "hours">
  			<div ng-show="showHourRange">
  				<span>
					<label>Desde las </label>
					<input type="time" id="horaInicio" name="inputHoraInicio" ng-model="horaInicio"
       					placeholder="HH:mm:ss" min="00:00:00" max="23:59:59" ng-change="changedHour(hours.$valid)" required />
				</span>
				<span>
					<label>hasta las </label>
					<input type="time" id="horaFin" name="inputHoraFin" ng-model="horaFin"
       					placeholder="HH:mm:ss" min="00:00:00" max="23:59:59" ng-change="changedHour(hours.$valid)" required />
				</span>
				<span class="error" ng-show="hours.inputHoraInicio.$error.required">
      				La hora inicio no puede ser vacía!
      			</span>
    			<span class="error" ng-show="hours.inputHoraFin.$error.required">
      				La hora fin no puede ser vacía!
      			</span>
      			<span class="error" ng-show="!hours.inputHoraInicio.$valid">
      				Hora de inicio no válida
      			</span>
    			<span class="error" ng-show="!hours.inputHoraFin.$valid">
      				Hora de fin no válida
      			</span>
      			<span class="error" ng-show="startNotLesserEnd">
      				La hora de inicio es mayor que la hora de fin
      			</span>
  			</div>
  		</form>
  		<div ng-include='page' id="template"></div>
	</div>
</div>
