<div class="container" ng-controller="HomeController">

<h1>PAGINA DE PRUEBA</h1>
	<div class="alert alert-danger" role="alert" ng-show="invalidData" ng-model="message">
		No existen datos. Por favor, compruebe que la URL del servidor IceCast es correcta.
	</div>
	<div id ="realTimeStats">
		<div id="currentListeners" class="panel panel-default col-xs-4">
			<div class="text-center">
				<label>
					Oyentes actuales
				</label>
			</div>
  			<div class="panel-body text-center" ng-model="listeners">
    			<h1>{{listeners}}</h1>
  			</div>
  			<br/><br/><br/><br/><br/>
		</div>
		<div id="currentlyPlaying col-xs-8">
			<div id="player-top">
				<div id="now-playing-title" amplitude-song-info="name"></div>
				<div class="album-information">
					<span amplitude-song-info="artist"></span>
					-
					<span amplitude-song-info="album"></span>
				</div>
			</div>
			<img class="amplitude-album-art" amplitude-song-info="cover">
			<div id="player-bottom">
				<div id="control-container">
					<div class="amplitude-play-pause amplitude-paused"></div>
				</div>
			</div>
			<!-- <label id="programa" ng-model="programa">Programa: {{programa}}</label><br/>
			<label id="genero" ng-model="genero">Género: {{genero}}</label><br/>
			<label id="url">URL: <a id="linkDirecto" ng-href="{{serverUrl}}"></label><br/> -->
		</div>
	</div>
	
</div>