<div id="divRealTime" class="container">
	<div ng-controller="HomeController">
		<div class="alert alert-danger" role="alert" ng-show="invalidData" ng-model="message">
			No existen datos. Por favor, compruebe que la URL del servidor IceCast es correcta.
		</div>
		<div id ="realTimeStats">
			<div id="currentListeners" class="panel panel-default col-xs-4">
				<div class="text-center">
					<label>
						Oyentes actuales
					</label>
				</div>
	  			<div class="panel-body text-center" ng-model="listeners">
	    			<h1 id="numListeners">{{listeners}}</h1>
	  			</div>
	  			<br/><br/><br/><br/>
			</div>
			<div id="currentlyPlaying" class ="panel panel-default col-xs-8">
				<h2 id="headerCurrPlaying" class="text-center">Actualmente sonando : </h2>
				<br/>
				<div class="panel-body">
				<div class="col-xs-8">
					<span id="broadcast" class="glyphicon glyphicon-bullhorn" ng-class="{'broadcastHidden' : intermitent}">
					</span>
					<label ng-model="programa">{{programa}}</label> <br/> <br/>
					<span><label>Descripcion: </label> <span ng-model="descripcion">{{descripcion}}</span></span> <br/> <br/>
					<span><label>Género: </label> <span ng-model="guid">{{guid}}</span></span>
				</div>
				<div id="imageLogo" class="col-xs-4">
					<img id="programLogo" ng-src="{{image}}" alt="Program" class="img-rounded">
				</div>
			</div>
			</div>
		</div>
	</div>
	<div id="lastConnections" ng-controller="LastXHoursController">
		<h4>Conexiones <small>En las últimas 24 horas</small></h4>
		<div ng-show="dataEmpty">
			<div class="panel panel-default">
				<div class="panel-body">
	   				No existen datos en este período
				</div>
			</div>
		</div>
		<span ng-if="loaded">
			<div id="lastConnectionsChart" chart chart-type="Line"></div>
		</span>
	</div>
</div>
