<!DOCTYPE html>
<html>
<head>
  <title>IceCastStats</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

<div id="jumboWelcomePage" class="jumbotron">
<h1 class="text-center">IceCast-Stats</h1>

<p class="text-center">
	Bienvenid@ a IceCast-Stats, una aplicación web para el análisis y generación de estadísticas para un servidor de
	streaming IceCast.
</p>

<p id="adminQuestion" class="text-center">¿Eres administrador?. Por favor, identifícate.</p>

<div id="buttonLogin">
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalLogin">Login</button>
</div>
</div>

<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLoginLabel">Login</h4>
      </div>
      <form>
      	<div class="modal-body">
        	<div>
        		<label for="userEmail">Usuario</label>
        		<input type="email" class="form-control" id="userEmail" placeholder="Introduzca e-mail">
        	</div>
        	<div>
        		<label for="passwd">Contraseña</label>      	
    			<input type="password" class="form-control" id="passwd" placeholder="Introduzca contraseña">
        	</div>
      	</div>
      	<div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        	<button type="button" class="btn btn-primary">Login</button>
      	</div>
      </form>
    </div>
  </div>
</div>
</body>
</html>