<div class="container">
	<h4>Localizaciones <small>Países</small></h4>
	<div ng-controller="CountriesConnectionsController">
		<div ng-show="dataEmpty">
  			<div class="panel panel-default">
  				<div class="panel-body">
    				No existen datos para estas fechas
  				</div>
			</div>
  		</div>
		<span ng-if="loaded">
			<label>Mostrar: </label>
			<div class="btn-group" role="group">
  				<button type="button" ng-class="{true:'btn btn-danger', false:'btn btn-default'}[dataType == 'Oyentes totales']" ng-click="show('Oyentes totales')">Número de conexiones
  				</button>
  				<button type="button" ng-class="{true:'btn btn-danger', false:'btn btn-default'}[dataType == 'Segundos totales']" ng-click="show('Segundos totales')">Tiempo total de escucha
  				</button>
			</div>
			<div id="countriesChart" chart chart-type="Geo"></div>
		</span>
	</div>
	<h4>Localizaciones <small>Regiones y ciudades</small></h4>
	<div ng-controller="RegionsCitiesConnectionsController">
		<div id="divCombosCitiesRegions">
			<div>
  				<label ng-class="{true: 'hint--top hint--info hint--always hint--bounce', false: undefined}[citiesCheckedModel.checked && regionsEmpty]" ng-attr-data-hint="{{citiesCheckedModel.checked && regionsEmpty ? 'No existen regiones para este país' : undefined}}">
  					Seleccione un país: 
  				</label>
				<select class="form-control" id="comboCountries" ng-model="country" ng-options="country for country in 			countries" ng-change="selectedCountry()">
				</select>
			</div>
			<div ng-show="citiesCheckedModel.checked && !regionsEmpty">
				<label>Seleccione una región: </label>
				<select class="form-control" id="comboRegions" ng-model="region" ng-options="region for region in 		regions" ng-change="selectedRegion()">
				</select>
			</div>
			<span>
				<label>Mostrar regiones: </label>
				<input id="citiesCB" type="checkbox" ng-model="citiesCheckedModel.checked" ng-change="changedCheckBoxCities()">
			</span>
		</div>
		<div ng-show="dataEmpty">
  			<div class="panel panel-default">
  				<div class="panel-body">
    				No existen datos para estas fechas
  				</div>
			</div>
  		</div>
		<span ng-if="loaded">
			<label>Mostrar: </label>
			<span class="btn-group" role="group">
  				<button type="button" ng-class="{true:'btn btn-danger', false:'btn btn-default'}[dataType == 'Oyentes totales']" ng-click='show("Oyentes totales")'>Número de conexiones
  				</button>
  				<button type="button" ng-class="{true:'btn btn-danger', false:'btn btn-default'}[dataType == 'Segundos totales']" ng-click='show("Segundos totales")'>Tiempo total de escucha
  				</button>
			</span>
			<div id="regionsChart" chart chart-type="Geo"></div>
		</span>
	</div>
</div>