/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * 
 *= require angular-snap/angular-snap
 *= require snapjs/snap
 *= require bootstrap 
 *= require_tree .
 *= require_self 
 */
@import url(http://fonts.googleapis.com/css?family=Chelsea+Market);

#snapCont {
  background-color: #fff;
  transform: initial;
}

.header {
  position: fixed;
  width: 100%;
}

#contenido {
  margin-top: 74.5px;
}

#divButton {
  width: 10%;
  float: left;
}

#divHeader {
  width: 80%;
}

.content {
  width: 100%;
  margin-top: 73px;
}

#cabecera {
background-color: black;
}

#cabecera h1 {
  font-family: 'Chelsea Market', cursive;
  color: azure;
  margin: 0px;
  font-size: 60px;
}

#drawers {
  background-color: rgb(33, 32, 37);
}

#icecastImage img {
  width: 7%;
}

div#month_per_year  div {
  position: inherit !important;
}

#menu {
background-color: rgb(33, 32, 37);
}

#menuButton {
  background: url(button-menu.png);
  width: 66px;
  height: 49px;
  background-size: 66px 53px;
  border-width: 0px;
  padding: 0px;
}

#menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#menu li {
  color: white;
  padding: 15px 15px 15px 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-left-width: 7px;
  border-left-style: solid;
  border-left-color: rgba(23, 0, 218, 0.9);
}

#menu li:hover {
  background-color: rgb(20, 21, 47);
}

#menu li a:link {
  text-decoration: none;
  color: white;
}

#menu li a:visited {
  color: white;
}

#menu li a {
  font-family: 'Chelsea Market', cursive;
  font-size: 20px;
  margin-left: 15px;
  vertical-align: super;
}

#menu li span {
  font-size: 30px;
}
