// Place all the styles related to the Connections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.connections {

}

#gtsController,
#cgcController,
#pieTimeConnections,
#programInfo {
	clear: both;
	border-style: outset;
	border-width: 1px;
	margin-bottom: 2%;
	padding: 8px 8px 2px 8px;
}

#time_connections {
	width : 900px;
	height: 500px;
}

#programsDonut {
	width: 950px;
	height: 500px;
}

#programsCombo {
	width: 950px;
	height: 500px;
}

#pieTimeConnections {

}

span.minMaxError {
	color: red;
	font-size: 14px;
}

#tiempoTotal {
	background-color: rgb(66, 139, 202);
	color: rgb(219, 238, 250);
}

#tiempoMedio {
	background-color: rgb(66, 139, 202);
	color: rgb(219, 238, 250);
}
