// Place all the styles related to the Connections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.connections {

}

#time_connections {
	width : 800px;
	height: 400px;
}

#programsDonut {
	width: 950px; 
	height: 500px;
}

#programsCombo {
	width: 950px; 
	height: 500px;
}

#pieTimeConnections {
	
}

#tiempoTotal {
	background-color: rgb(66, 139, 202);
	color: rgb(219, 238, 250);
}

#tiempoMedio {
	background-color: rgb(66, 139, 202);
	color: rgb(219, 238, 250);
}