#realTimeStats {
	display: flex;
	flex-wrap: wrap;
}

#currentListeners {
	order: 1;
}

#blankDiv {
	order: 2;
}

#headerCurrPlaying {
	margin-top: 0px;
}

#currentlyPlaying {
	padding-left: 0px;
	order: 3;
}

#broadcast {
	font-size: 20px;
	color: red;
}

.broadcastHidden {
	visibility: hidden;
}

#lastConnections {
	clear: both;
}

#lastConnectionsChart {
	width: 100%;
}

#divRealTime {
	margin-top: 73px;
}

#numListeners {
	font-size: 90px;
}

@media (max-width: 991px) {
  #realTimeStats {
    flex-direction: column;
  }

	#currentListeners {
		width: 100%;
	}

	#currentlyPlaying {
		width: 100%;
	}
}
