#regionsCities {
  display: flex;
}

#divCombosCitiesRegions {
  width: 20%;
}

#dataEmpty {
  width: 80%;
}

#regionsChart {
	width: 900px;
	height: 500px;
}

#countriesChart {
	width: 900px;
	height: 500px;
}

#comboCountries,
#comboRegions {
	width: 90%;
}

#regionsAndCitiesContent {
margin-top: 7%;
}
