@import url(http://fonts.googleapis.com/css?family=Capriola);

#template {
	padding-top : 5%;
}

#datePickers {
	margin-top: 38px;
}

#cssmenu ul li.active a{
	background-color: #3F51B5;
}

#cssmenu ul,
#cssmenu ul li {
	margin: 0;
	padding: 0;
}

#cssmenu {
	list-style-type: none;
	background-color: #303F9F;
	display: block;
	text-decoration: none;
	padding: 0;
}

#cssmenu ul li {
	display: inline;
}

#cssmenu ul li a:hover {
	background-color: #3F51B5;
	border-bottom-color: #B6B6B6;
	border-bottom-width: 5px;
	border-bottom-style: solid;
}

#cssmenu ul li a,
#cssmenu ul li a:visited,
#cssmenu ul li a:link {
	font-size: 14px;
	float: left;
	padding: 20px;
	color: #FFFFFF;
	text-decoration: none;
}

#filters {
	width: 100%;
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px;
	padding-top: 10px;
	padding-bottom: 50px;
	background-color: gainsboro;
}

/*#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	font-family: Capriola, Helvetica, sans-serif;
}
#cssmenu {
	width: auto;
	height: 59px;
	padding-bottom: 4px;
	background-color: black;
	width: 100%;
}
#cssmenu.align-right {
	float: right;
}
#cssmenu.align-right ul li {
	float: right;
	margin-right: 0;
	margin-left: 4px;
}
#cssmenu.align-right ul li:first-child,
#cssmenu.align-right ul li:first-child > a {
	border-bottom-right-radius: 3px;
}
#cssmenu #bg-one,
#cssmenu #bg-two,
#cssmenu #bg-three,
#cssmenu #bg-four {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
#cssmenu #bg-one {
	height: 10px;
	background: #0f71ba;
}
#cssmenu #bg-two {
	height: 59px;
	z-index: 2;
}
#cssmenu #bg-three {
	bottom: 4px;
	height: 55px;
	z-index: 3;
	background: #222222;
	background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
	background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
	background: -o-linear-gradient(top, #555555 0%, #222222 100%);
	background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
	background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#cssmenu #bg-four {
	bottom: 4px;
	height: 55px;
	z-index: 4;
}
#cssmenu ul {
	height: 59px;
}

#cssmenu ul li a:hover {
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #0f71ba;
}

#cssmenu ul li {
	float: left;
	margin-right: 4px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	z-index: 5;
}
#cssmenu ul li a {
	padding: 24px 30px 20px 30px;
	margin-bottom: 4px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #eeeeee;
	font-size: 15px;
	text-decoration: none;
}
#cssmenu ul li:first-child,
#cssmenu ul li:first-child > a {
	border-bottom-left-radius: 3px;
}
#cssmenu ul li.active {
	background: #0f71ba;
	background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
	background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
	background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
	background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
	background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}
#cssmenu ul li a:hover,
#cssmenu ul li.active > a {
	color: #ffffff;
}*/

#fechaIni.ng-invalid,
#fechaFin.ng-invalid,
#horaInicio.ng-invalid,
#horaFin.ng-invalid {
	border:1px solid red;
}

#source,
#buttonActions {
	float: left;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: darkgrey;
	margin-right: 10px;
	padding-left: 6px;
	padding-right: 20px;
	height: 40px;
}

#actionsMenu {
	padding: 6px 6px 6px 8px;
}

#actionsMenu li {
	padding-bottom: 3px;
}

#fechas {
	float: left;
	margin: 0px 10px 0px 10px;
}

#horas {
	float: left;
}

#template {
	clear: both;
}
