<div class="container">
	<div id="panelTimeContainer">
		<div id="totalTime" class="col-xs-6" ng-controller="TotalTimeController" ng-switch on="dataEmpty">
			<span ng-switch-when="true">
  				<span id="template" ng-include="'_noData.html'"></span>
  			</span>
  			<span ng-switch-when="false">
				<div id="tiempoTotal" class="panel panel-default">
					Tiempo total de escucha
  					<span id="template" ng-include="'_panelBodyTime.html'"></span>
				</div>
			</span>
		</div>
		<div id="avgTime" class="col-xs-6" ng-controller="AvgTimeController" ng-switch on="dataEmpty">
			<span ng-switch-when="true">
  				<span id="template" ng-include="'_noData.html'"></span>
  			</span>
  			<span ng-switch-when="false">
				<div id="tiempoMedio" class="panel panel-default">
					Tiempo medio de escucha
  					<span id="template" ng-include="'_panelBodyTime.html'"></span>
				</div>
			</span>
		</div>
	</div>

	<div id="gtsController" ng-controller="GroupedTotalSecondsChartController">
		<div class="btn-group" role="group">
  			<button type="button" ng-class="{true:'btn btn-danger', false:'btn btn-default'}[groupBy == 'year']" ng-click="group('year')">Año</button>
  			<button type="button" ng-class="{true:'btn btn-danger', false:'btn btn-default'}[groupBy == 'month']" ng-click="group('month')">Mes</button>
  			<button type="button" ng-class="{true:'btn btn-danger', false:'btn btn-default'}[groupBy == 'day']" ng-click="group('day')">Día</button>
		</div>
		<div ng-show="dataEmpty">
  			<span id="template" ng-include="'_noData.html'"></span>
  		</div>
		<div ng-if="loaded">
			<div ng-if="groupBy == 'year'">
				<div id="cbdYear" chart chart-type="Line"></div>
			</div>
			<div ng-if="groupBy == 'month'">
				<div id="cbdMonth" chart chart-type="Column"></div>
			</div>
			<div ng-if="groupBy == 'day'">
				<div id="cbdDay" chart chart-type="Calendar"></div>
			</div>
		</div>
	</div>
	
	<div id="cgcController" ng-controller="ConnectionsGroupedChartController">
		<div class="btn-group" role="group">
  			<button type="button" ng-class="{true:'btn btn-danger', false:'btn btn-default'}[groupBy == 'year']" ng-click="group('year')">Año</button>
  			<button type="button" ng-class="{true:'btn btn-danger', false:'btn btn-default'}[groupBy == 'month']" ng-click="group('month')">Mes</button>
  			<button type="button" ng-class="{true:'btn btn-danger', false:'btn btn-default'}[groupBy == 'day']" ng-click="group('day')">Día</button>
		</div>
		<div ng-show="dataEmpty">
  			<span id="template" ng-include="'_noData.html'"></span>
  		</div>
		<div ng-if="loaded">
			<div ng-if="groupBy == 'year'">
				<div id="cbdYear" chart chart-type="Bar"></div>
			</div>
			<div ng-if="groupBy == 'month'">
				<div id="cbdMonth" chart chart-type="Column"></div>
			</div>
			<div ng-if="groupBy == 'day'">
				<div id="cbdDay" chart chart-type="Calendar"></div>
			</div>
		</div>
	</div>
	
	<div id="pieTimeConnections" ng-controller="RangesController">
		<div>
			<!-- <span range-slider min="5" max="120" model-min="range.min" model-max="range.max"></span> -->
			<form name="rangesForm">
				<label>Min </label><input type="number" id="min" name="min" ng-model="range.min" min="5" max="120" 
					ng-change="validateMin(rangesForm.$valid)" required>
				<label>Max </label><input type="number" id="max" name="max" ng-model="range.max" min="5" max="120" 
					ng-change="validateMax(rangesForm.$valid)" required>
				<span class="error" ng-show="maxGreaterThanMin">
      				Max no puede ser menor que Min
      			</span>
    			<span class="error" ng-show="minGreaterThanMax">
      				Min no puede ser mayor que Max
      			</span>
				<span class="error" ng-show="rangesForm.min.$error.required">
      				El valor mínimo no puede ser vacío
      			</span>
    			<span class="error" ng-show="rangesForm.max.$error.required">
      				El valor máximo no puede ser vacío
      			</span>
      			<span class="error" ng-show="!rangesForm.max.$valid">
      				El valor máximo no es válido (5..120)
      			</span>
      			<span class="error" ng-show="!rangesForm.min.$valid">
      				El valor mínimo no es válido (5..120)
      			</span>
			</form>
		</div>
		<span ng-if="loaded">
			<div id="time_connections" chart chart-type="Pie"></div>
		</span>
		<div ng-show="dataEmpty">
  			<span id="template" ng-include="'_noData.html'"></span>
  		</div>
	</div>
	<div id="programInfo" ng-controller="ProgramsController">
		<span ng-if="loaded">
			<div ng-switch on="uniqueVisitors">
				<span ng-switch-when="true">
  					<div id="programsDonut" chart chart-type="Pie"></div>
  				</span>
  				<span ng-switch-when="false">
					<div id="programsCombo" chart chart-type="Combo"></div>
				</span>	
			</div>
  		</span>
  		<div ng-show="dataEmpty">
  			<span id="template" ng-include="'_noData.html'"></span>
 		</div>
	</div>
</div>